.visual-content .icon-remove {
    color: #fff;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 2.4rem;
    display: none;
    text-shadow: 0 1px 3px rgba(0,0,0,.75)
}

.visual-content video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    background-color: rgba(0,0,0,.85);
    -webkit-transition-property: width height bottom;
    transition-property: width height bottom
}

.visual-content .content li {
    cursor: pointer;
    height: 200px;
    background-size: cover;
    -webkit-transition-property: all;
    transition-property: all
}

.visual-content .content li:nth-child(n+4) {
    max-height: 0;
    opacity: 0
}

.visual-content .content li .video-container {
    width: calc(100% + 15px * 2);
    height: 100%;
    overflow: hidden;
    margin-left: -15px
}

.visual-content .content li.active video {
    width: 100vw;
    height: 50vh;
    bottom: 50vh
}

.visual-content .content.active li.active {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1055
}

.visual-content .content.active li.active .icon-remove {
    display: block
}

.visual-content .content.active li.active .frame {
    background-color: rgba(0,0,0,.85);
    height: 50vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    top: 50%
}

.visual-content .content.active li.active .frame h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    height: 60px
}

.visual-content .content.active li.active .frame p {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: left
}

.visual-content .content li,.visual-content .frame,.visual-content .frame p,.visual-content .frame span,.visual-content video {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: cubic-bezier(.785,.135,.15,.86);
    transition-timing-function: cubic-bezier(.785,.135,.15,.86)
}

.visual-content .frame {
    height: 68px;
    padding: 10px 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: table;
    width: calc(100% - 99px);
    -webkit-transition-property: all;
    transition-property: all
}

.visual-content .frame .description,.visual-content .frame .position {
    padding: 0 15px
}

.visual-content .frame .description p,.visual-content .frame .position p {
    font-family: "T1 Body Font Light","T1 Body Font",Arial,Helvetica,sans-serif
}

.module-360 .btn-toggle-spin.active,.visual-content .frame h2,.visual-content .frame span {
    font-family: "T1 Body Font Bold",Arial,Helvetica,sans-serif
}

.visual-content .frame .position {
    padding-right: 1px
}

.visual-content .frame span {
    font-size: 32px;
    line-height: 30px;
    color: #989a9d;
    -webkit-transition-property: color font-size;
    transition-property: color font-size
}

.visual-content .frame h2 {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    color: #202020;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    text-align: left
}

.visual-content.more .btn-more,.visual-content.pro .content li.active.is-video::after,.visual-content:not(.more) .btn-less {
    display: none
}

.visual-content .frame p {
    display: none;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 17px;
    line-height: 30px
}

.visual-content footer {
    padding-top: 30px
}

.visual-content.more .content li:nth-child(n+4) {
    max-height: 410px;
    opacity: 1
}

.visual-content.more .content li:nth-child(n+4).active {
    max-height: none
}

.visual-content.pro .content {
    position: relative
}

.visual-content.pro .content li.active {
    overflow: hidden;
    position: fixed
}

.visual-content.pro .content li.active::after {
    content: "";
    background: url(/images/pro/image-overlay.svg) bottom/100% no-repeat;
    position: absolute;
    width: 40%;
    padding-bottom: 40%;
    right: 0;
    pointer-events: none;
    max-height: 323px;
    max-width: 323px;
    bottom: 50%;
    z-index: -1;
    animation-name: fadeIn;
    animation-duration: .35s;
    animation-timing-function: cubic-bezier(.785,.135,.15,.86)
}

@media screen and (max-width: 767px) and (orientation:portrait) {
    .visual-content .content.active li.active {
        background-size:auto 51%;
        background-repeat: no-repeat
    }

    .visual-content .content.active li.active .frame {
        background-color: #000
    }
}

@media screen and (min-width: 768px) {
    .visual-content .content li {
        height:410px
    }

    .visual-content .frame {
        display: -webkit-flex;
        display: flex;
        height: 100px;
        padding: 20px 8px;
        left: 24px;
        bottom: 0;
        width: calc(100% - 270px)
    }

    .visual-content .frame h2 {
        display: block;
        font-size: 22px;
        line-height: 28px;
        height: 64px
    }
}

@media screen and (min-width: 992px) {

    .visual-content .section-title {
        padding:0
    }

    .visual-content .section-title p {
        text-align: center
    }

    .visual-content .container-fluid {
        position: relative
    }

    .visual-content .t1-arrow-control {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1
    }

    .visual-content .t1-arrow-control.prev {
        left: 67px
    }

    .visual-content .t1-arrow-control.next {
        right: 67px
    }

    .visual-content .iscroller {
        overflow: hidden;
        white-space: nowrap;
        margin-left: -15px;
        margin-right: -15px
    }

    .visual-content .iscroller .content {
        height: 410px;
        white-space: normal;
        width: 200vw;
        margin: 0
    }

    .visual-content .iscroller .content li {
        width: calc(100vw / 3);
        display: inline-block
    }

    .visual-content .iscroller .content.active li::before {
        display: none;
    }

    .visual-content .iscroller .content.active li:not(.active) {
        width: 10vw
    }

    .visual-content .iscroller .content.active li.active.col-md-4 {
        width: 80vw
    }

    .visual-content .iscroller .content.active li.active.col-md-6 {
        width: 90vw
    }

    .visual-content .iscroller .content.active li.active.col-md-12 {
        width: 100vw
    }

    .visual-content.ie .iscroller .content li {
        width: 33vw
    }

    .visual-content .content {
        overflow: hidden
    }

    .visual-content .content li {
        height: 410px!important;
        opacity: 1!important;
        max-height: none!important
    }

    .visual-content .content.active li.active {
        position: relative;
        z-index: 0;
        overflow: hidden
    }

    .visual-content .content.active li.active.col-md-4 {
        width: 80%
    }

    .visual-content .content.active li.active.col-md-6 {
        width: 90%
    }

    .visual-content .content.active li.active.col-md-12 {
        width: 100%
    }

    .visual-content .content.active li.active .frame {
        width: 460px;
        height: 332px;
        left: 150px;
        top: auto
    }

    .visual-content .content.active li.active video {
        position: relative;
        bottom: 0;
        left: -15px;
        width: calc(100% + 30px);
        height: 100%
    }

    .visual-content .content .frame {
        bottom: -27px;
        left: 30px;
        padding: 16px 0;
        width: calc(100% - 60px)
    }

    .visual-content .content.active li:not(.active) {
        width: 10%
    }

    .visual-content .content.active li:not(.active) .frame {
        height: 103px;
        background-color: transparent;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: block
    }

    .visual-content .content.active li:not(.active) .frame span {
        font-size: 67px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        float: none
    }

    .visual-content .content.active li:not(.active) .frame h2 {
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .visual-content.pro .content li.active::after {
        bottom: 0
    }
}

.data-comparison .panel-collapse,.module-360.spin-view-active .overflowable-row,.module-360.visible-box:not(.in-box) .overflowable-row {
    opacity: 0
}

.visual-content-carousel .content li.active .position .icon {
    color: #fff
}

.visual-content-carousel .frame .position .icon {
    color: #e50000;
    font-size: 30px
}

@media screen and (min-width: 992px) {
    .visual-content .content.active li:not(.active) .frame .icon {
        font-size:50px;
        color: #fff
    }
}

.t1-carousel-container .t1-arrow-control {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.t1-carousel-container .slick-initialized .t1-slide,.t1-carousel-container .t1-slide.initialSlide {
    display: block
}

.t1-carousel-container .slick-arrow {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.t1-carousel-container.left-align-slick .slick-track {
    margin-left: 0;
    margin-right: 0
}